<link rel="stylesheet" href="<%= assetPath('/css/chat-box.css') %>" />

<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Chat Box</h1>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body" id="chat-modal-body">
  <div class="messages-list" id="messages-list">
    <% for( let i = 0; i < 30; i++ ) { %>

    <div class="message-item friend-message-item">
      <div class="message-header">
        <div class="message-user">
          <div class="display_pic">
            <% if (friend.avatar) { %>
            <img src="<%= friend.avatar %>" alt="" />
            <% } else { %>
            <i class="fas fa-user-circle"></i>
            <% } %>
          </div>
          <div class="display_name"><%= friend.name %></div>
        </div>
      </div>
      <div class="message-content">Hi</div>
    </div>

    <div class="message-item user-message-item" <% if (i==29) { %> id="last-msg" <% } %>>
      <div class="message-header">
        <div class="message-user">
          <div class="display_name"></div>
          <div class="display_pic">
            <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" alt="" />
            <% } else { %>
            <i class="fas fa-user-circle"></i>
            <% } %>
          </div>
        </div>
      </div>
      <div class="message-content">HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello</div>
    </div>

    <% } %>
  </div>
</div>
<div class="modal-footer">
  <textarea
    placeholder="message..."
    style="flex-grow: 1"
    name="input-message"
    id="input-message"></textarea>
  <button class="send-button">
    <i class="fa-solid fa-paper-plane"></i>
  </button>
</div>

<script src="<%= assetPath('/js/chat-box.js') %>"></script>
