<link rel="stylesheet" href="<%= assetPath('/css/comment.css') %>" />

<div class="comments-list">
  <% comments.forEach(comment => { %>

  <div class="comment-item" id="comment-<%= comment.id %>">
    <div class="comment-header">
      <div class="comment-user">
        <div class="display_pic">
          <% if (comment.user.avatar) { %>
          <img src="<%= comment.user.avatar %>" alt="" />
          <% } else { %>
          <i class="fas fa-user-circle"></i>
          <% } %>
        </div>
        <div class="display_name"><%= comment.user.name %></div>
      </div>
      <% if (user.id==comment.user.id) { %>
      <div
        class="comment-reply-button"
        data-link="/post/comment/delete/<%= comment.id %>"
        onclick="deleteComment(this,event)"
      >
        Delete
      </div>
      <% } %>
      <!-- <div class="comment-reply-button">Reply</div> -->
      <div class="comment-like-button">
        <div class="like-icon">
          <!-- <i class="far fa-heart"></i> -->
          <i class="fas fa-heart liked"></i>
        </div>
        <div class="like-count">3</div>
      </div>
    </div>
    <div class="comment-body">
      <div class="comment"><%= comment.content %></div>
      <!-- <div class="view-comment-replies-button">View Replies</div> -->
    </div>
  </div>

  <% }) %>
</div>

<script src="<%= assetPath('/js/comment.js') %>"></script>
