<link rel="stylesheet" href="<%= assetPath('/css/friendship.css') %>" />
<div class="friends-list" id="friends-list" data-count="<%= friends.length %>">
  <% friends.forEach(friend => { %>

  <div class="friend" id="friend-<%= friend.id %>">
    <div class="display_pic">
      <% if (friend.avatar) { %>
      <img src="<%= friend.avatar %>" alt="" />
      <% } else { %>
      <i class="fas fa-user-circle"></i>
      <% } %>
    </div>

    <div class="display_name"><%= friend.name %></div>

    <div
      class="message-icon"
      data-bs-toggle="modal"
      data-bs-target="#modalChatbox"
      data-id="<%= friend.id %>"
      onclick="openChatBox(this)"
    >
      <i class="fa-solid fa-message"></i>
    </div>

    <div class="add-friend-icon">
      <button
        class="btn btn-sm"
        data-id="<%= friend.id %>"
        onclick="unfriend(this)"
      >
        Unfriend
      </button>
    </div>
  </div>

  <% }) %>
  <p class="show-failure-message">Nothing To Show!!!</p>
</div>

<div
  class="modal fade"
  id="modalChatbox"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
    </div>
  </div>
</div>

<!-- <div class="chatbox" id="chatbox"></div> -->

<script src="<%= assetPath('/js/friends.js') %>"></script>
