<link rel="stylesheet" href="<%= assetPath('/css/post.css') %>" />
<div class="posts">
  <% posts.forEach(post => { %>
  <div class="post" id="post-<%= post.id %>">
    <div class="post-header">
      <div class="display_pic">
        <!-- <i class="fas fa-user-circle"></i> -->
        <% if (post.user.avatar) { %>
        <img src="<%= post.user.avatar %>" alt="" />
        <% } else { %>
        <img src="<%= post.content %>" alt="" />
        <% } %>
      </div>
      <div class="display_name_time">
        <div class="display_name"><%= post.user.name %></div>
        <div class="display_time">
          <div><%= post.createdAt.toLocaleDateString() %></div>
          <!-- <div>21:30</div> -->
        </div>
      </div>
    </div>
    <div class="post-body">
      <!-- <div class="post-item">
        <div class="content">Hello world!</div>
        <div class="read-more">...Read more</div>
      </div> -->
      <div class="post-image">
        <img src="<%= post.content %>" alt="" />
      </div>
    </div>
    <div class="post-footer">
      <div class="likes">
        <div class="icon">
          <!-- <i class="far fa-heart"></i> -->
          <i class="fas fa-heart liked"></i>
        </div>
        <div
          class="count"
          data-bs-toggle="modal"
          data-bs-target="#modalReactions"
          data-id="<%= post.id %>"
        >
          298
        </div>
      </div>
      <div
        class="comments"
        data-bs-toggle="modal"
        data-bs-target="#modalComments"
        data-id="<%= post.id %>"
      >
        <div class="icon">
          <i class="fas fa-comment-dots"></i>
        </div>
        <div class="count">36</div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<div
  class="modal fade"
  id="modalReactions"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reactions</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalComments"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button> -->
        <input
          type="text"
          placeholder="Comment..."
          style="flex-grow: 1"
          name="input-comment"
          id="input-comment"
        />
        <button class="send-button"><i class="fas fa-share-square"></i></button>
      </div>
    </div>
  </div>
</div>

<script src="<%= assetPath('/js/post.js') %>"></script>
