<link rel="stylesheet" href="<%= assetPath('/css/friendship.css') %>" />
<div class="friends-list" id="more-people-list" data-count="<%= more_people.length %>">
  <% more_people.forEach(friend => { %>

  <div class="friend" id="friend-<%= friend.id %>">
    <div class="display_pic">
      <% if (friend.avatar) { %>
      <img src="<%= friend.avatar %>" alt="" />
      <% } else { %>
      <i class="fas fa-user-circle"></i>
      <% } %>
    </div>

    <div class="display_name"><%= friend.name %></div>

    <div class="add-friend-icon">
      <button
        class="btn btn-sm"
        data-id="<%= friend.id%>"
        onclick="sendRequest(this)"
      >
        Add Friend
      </button>
    </div>
  </div>

  <% }) %>
  <p class="show-failure-message">Nothing To Show!!!</p>
</div>

<script src="<%= assetPath('/js/more-people.js') %>"></script>
