<link rel="stylesheet" href="<%= assetPath('/css/post.css') %>" />

<div class="posts" data-count="<%= posts.length %>">
  <% posts.forEach(post => { %> <% let user_reaction =
  checkUserReaction(user.id, post.reactions); %> <% let activeClass; %>
  <div class="post" id="post-<%= post.id %>">
    <div class="post-header">
      <div class="display_pic">
        <% if (post.user.avatar) { %>
        <img src="<%= post.user.avatar %>" alt="" />
        <% } else { %>
        <i class="fas fa-user-circle"></i>
        <% } %>
      </div>
      <div class="display_name_time">
        <div class="display_name"><%= post.user.name %></div>
        <div class="display_time">
          <div>
            <%= post.createdAt.toLocaleDateString() %>,&nbsp;&nbsp;<%=
            post.createdAt.getHours() %>:<%= post.createdAt.getMinutes() %>
          </div>
          <!-- <div>21:30</div> -->
        </div>
      </div>
      <% if (user.id==post.user.id) { %>
      <div class="delete-post">
        <i
          class="fas fa-trash-alt"
          data-link="/post/delete/<%= post.id %>"
          onclick="deletePost(this, event)"
        ></i>
      </div>
      <% } %>
    </div>
    <div class="post-body">
      <!-- <div class="post-item">
        <div class="content">Hello world!</div>
        <div class="read-more">...Read more</div>
      </div> -->
      <div class="post-image">
        <img src="<%= post.content %>" alt="" />
      </div>
    </div>
    <div class="post-footer">
      <div class="likes">
        <div
          class="icon"
          data-bs-toggle="collapse"
          href="#reaction-types-<%= post.id %>"
          role="button"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
        >
          <% if (user_reaction.length) { %>
          <i class="fas fa-heart liked"></i>
          <% } else {%>
          <i class="far fa-heart"></i>
          <% }%>
        </div>
        <div
          class="count"
          data-bs-toggle="modal"
          data-bs-target="#modalReactions"
          data-id="<%= post.id %>"
          onclick="openReactions(this)"
        >
          <% if (post.reactions && post.reactions.length) { %> <%=
          post.reactions.length %> <% } %>
        </div>
        <div
          class="collapse multi-collapse reaction-types"
          id="reaction-types-<%= post.id %>"
        >
          <% if (user_reaction.length && user_reaction[0].reactionType=='like')
          { activeClass = "active"; } else { activeClass=""; } %>
          <div
            class="reaction-icon <%= activeClass %>"
            onclick="togglePostReaction(this,'like')"
            data-id="<%= post.id %>"
            data-type="like"
          >
          <img src="https://cdn-icons-png.flaticon.com/128/2107/2107845.png" />
          </div>
          <% if (user_reaction.length && user_reaction[0].reactionType=='laugh')
          { activeClass = "active"; } else { activeClass=""; } %>
          <div
            class="reaction-icon <%= activeClass %>"
            onclick="togglePostReaction(this,'laugh')"
            data-id="<%= post.id %>"
            data-type="laugh"
          >
          <img src="https://cdn-icons-png.flaticon.com/128/1791/1791352.png" />
          </div>
          <% if (user_reaction.length && user_reaction[0].reactionType=='angry')
          { activeClass = "active"; } else { activeClass=""; } %>
          <div
            class="reaction-icon <%= activeClass %>"
            onclick="togglePostReaction(this,'angry')"
            data-id="<%= post.id %>"
            data-type="angry"
          >
          <img src="https://cdn-icons-png.flaticon.com/128/743/743418.png" />
          </div>
          <% if (user_reaction.length &&
          user_reaction[0].reactionType=='thumbs-up') { activeClass = "active";
          } else { activeClass=""; } %>
          <div
            class="reaction-icon <%= activeClass %>"
            onclick="togglePostReaction(this,'thumbs-up')"
            data-id="<%= post.id %>"
            data-type="thumbs-up"
          >
          <img src="https://cdn-icons-png.flaticon.com/128/889/889221.png" />
          </div>
        </div>
      </div>
      <div
        class="comments"
        data-bs-toggle="modal"
        data-bs-target="#modalComments"
        data-id="<%= post.id %>"
        onclick="openComments(this)"
      >
        <div class="icon">
          <i class="fas fa-comment-dots"></i>
        </div>
        <div class="count">
          <% if (post.comments && post.comments.length) { %> <%=
          post.comments.length %> <% } %>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
  <p class="show-failure-message">Nothing To Show!!!</p>
</div>

<div
  class="modal fade"
  id="modalReactions"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reactions</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalComments"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <form
          id="comment-form"
          action="/comment/create"
          method="post"
          onsubmit="submitCommentForm(this, event)"
        >
          <input type="hidden" id="form-post-id" name="post_id" />
          <input
            type="text"
            placeholder="Comment..."
            style="flex-grow: 1"
            name="comment"
            id="input-comment"
            required
          />
          <button type="submit" class="send-button">
            <i class="fas fa-share-square"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAddPost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form
    action="/post/create"
    enctype="multipart/form-data"
    method="post"
    onsubmit="submitPostForm(this, event)"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <input
              type="file"
              accept="image/png, image/jpeg"
              name="post"
              class="form-control"
              required
            />
          </div>
          <!-- <div>
            <textarea
              class="form-control"
              name="post_content"
              id=""
              cols="30"
              rows="10"
              placeholder="Enter text..."
            ></textarea>
          </div> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success">Post</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="<%= assetPath('/js/post.js') %>"></script>
