<link rel="stylesheet" href="<%= assetPath('/css/profile_page.css') %>" />

<div id="main-body">
  <div class="flex height-main">
    <div class="col-profile" id="profile">
      <div class="center">
        <h1>Profile</h1>
        <div class="profile-box">
          <div class="profile-header">
            <div class="display_pic">
              <!-- <i class="fas fa-user-circle"></i> -->
              <img src="<%= assetPath('/images/home-page.jpg') %>" alt="" />
            </div>
            <div class="display_name"><%= user.name %></div>
            <!-- <div>imdivyachoudhary@gmail.com</div> -->
          </div>
          <div class="profile-body">
            <div class="item">
              <div class="item-name"><%= user.name %></div>
              <div class="item-change">Edit</div>
            </div>
            <div class="item">
              <div class="item-name"><%= user.email %></div>
              <div class="item-change">Edit</div>
            </div>
            <div class="item">
              <div class="item-name">Password</div>
              <div class="item-change">Change</div>
            </div>
          </div>
          <div class="profile-footer">
            <div class="item logout" onclick="user_signOut()">
              <div class="item-icon">
                <i class="fas fa-power-off logout-icon"></i>
              </div>
              <div class="item-name">Logout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-posts" id="posts">
      <div class="flex flex-center-horizontal">
        <div class="heading">
          <div data-bs-toggle="modal" data-bs-target="#modalAddPost">
            <i class="fa-regular fa-square-plus"></i>
          </div>
          <h1>Posts</h1>
        </div>
        <%- include('post') %>
      </div>
    </div>
    <div class="col-friends" id="friends">
      <div class="flex flex-center-horizontal">
        <h1>Friends</h1>
        <%- include('friends-list') %>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAddPost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div><input type="file" name="post-image" class="form-control"></div>
        <div><textarea class="form-control" name="post_content" id="" cols="30" rows="10" placeholder="Enter text..."></textarea></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-success">Post</button>
      </div>
    </div>
  </div>
</div>

<script src="<%= assetPath('/js/profile_page.js') %>"></script>
