<link rel="stylesheet" href="<%= assetPath('/css/profile.css') %>" />

<div class="profile-box">
  <div class="profile-header">
    <div class="display_pic">
      <!-- <i class="fas fa-user-circle"></i> -->
      <% if (user.avatar) { %>
      <img src="<%= user.avatar %>" alt="" />
      <% } else { %>
        <i class="fas fa-user-circle"></i>
      <% } %>
    </div>
    <div
      class="item-change"
      data-bs-toggle="modal"
      data-bs-target="#modalUpdateAvatar"
    >
      Upload New
    </div>
    <!-- <div class="display_name"></div> -->
    <!-- <div>imdivyachoudhary@gmail.com</div> -->
  </div>
  <div class="profile-body">
    <div class="item">
      <div class="item-name"><%= user.name %></div>
      <div
        class="item-change"
        data-bs-toggle="modal"
        data-bs-target="#modalUpdateName"
      >
        Edit
      </div>
    </div>
    <div class="item">
      <div class="item-name"><%= user.email %></div>
      <div
        class="item-change"
        data-bs-toggle="modal"
        data-bs-target="#modalUpdateEmail"
      >
        Edit
      </div>
    </div>
    <div class="item">
      <div class="item-name">Password</div>
      <div
        class="item-change"
        data-bs-toggle="modal"
        data-bs-target="#modalUpdatePassword"
      >
        Change
      </div>
    </div>
  </div>
  <div class="profile-footer">
    <div class="item logout" onclick="user_signOut()">
      <div class="item-icon">
        <i class="fas fa-power-off logout-icon"></i>
      </div>
      <div class="item-name">Logout</div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalUpdateAvatar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form
    action="/user/profile/updateAvatar/<%= user.id %>"
    method="post"
    enctype="multipart/form-data"
    id="formUpdateAvatar"
    data-user="<%= user.id %>"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Update Profile Image
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <input
              type="file"
              accept="image/png, image/jpeg"
              name="avatar"
              id="avatar"
              class="form-control"
              required
            />
          </div>
          <!-- <div>
              <input
                type="text"
                name="profile"
                id="profile"
                class="form-control"
                required
              />
            </div> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success" id="submit">
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="modalUpdateName"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form
    action="/user/profile/update/<%= user.id %>"
    method="post"
    id="updateNameForm"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Name</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-item">
            <label for="old_name" class="form-label">Current Name</label>
            <input
              type="text"
              class="form-control"
              id="old_name"
              name="old_name"
              placeholder="<%= user
            .name %>"
              disabled
            />
          </div>
          <div class="form-item">
            <label for="new_name" class="form-label">New Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="modalUpdateEmail"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form
    action="/user/profile/update/<%= user.id %>"
    method="post"
    id="updateEmailForm"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Email</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-item">
            <label for="old_email" class="form-label">Current Email_id</label>
            <input
              type="email"
              class="form-control"
              id="old_email"
              name="old_email"
              placeholder="<%= user
            .email %>"
              disabled
            />
          </div>
          <div class="form-item">
            <label for="new_email" class="form-label">New Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="modalUpdatePassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form action="">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Update Password
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-item">
            <label for="old_password" class="form-label"
              >Current Password</label
            >
            <input
              type="password"
              class="form-control"
              id="old_password"
              name="old_password"
              required
            />
          </div>
          <div class="form-item">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="form-item">
            <label for="confirm_password" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script src="<%= assetPath('/js/profile.js') %>"></script>
