<link rel="stylesheet" href="<%= assetPath('/css/reaction.css') %>" />

<div class="reactions">
  <div class="reaction-header">
    <div
      class="reaction-icon active"
      onclick="showReactionList(this,'like')"
      data-target="like"
    >
      <i class="fas fa-heart like"></i>
    </div>
    <div
      class="reaction-icon"
      onclick="showReactionList(this,'laugh')"
      data-target="laugh"
    >
      <i class="fa-solid fa-face-grin-tears laugh"></i>
    </div>
    <div
      class="reaction-icon"
      onclick="showReactionList(this,'angry')"
      data-target="angry"
    >
      <i class="fa-solid fa-face-angry angry"></i>
    </div>
    <div
      class="reaction-icon"
      onclick="showReactionList(this,'thumbs-up')"
      data-target="thumbs-up"
    >
      <i class="fa-solid fa-thumbs-up thumbs-up"></i>
    </div>
  </div>

  <div class="reaction-body" id="like">
    <div class="reaction-count"><%= like.users.length %></div>
    <div class="reaction-list">
      <% like.users.forEach(u => { %>
      <div class="reaction-item">
        <div class="display_pic">
          <!-- <i class="fas fa-user-circle"></i> -->
          <% let dp = assetPath(u.display_pic) %>
          <img src="<%= dp %>" alt="" />
        </div>
        <div class="display_name"><%= u.user_name %></div>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="reaction-body" id="laugh">
    <div class="reaction-count"><%= laugh.users.length %></div>
    <div class="reaction-list">
      <% laugh.users.forEach(u => { %>
      <div class="reaction-item">
        <div class="display_pic">
          <!-- <i class="fas fa-user-circle"></i> -->
          <% let dp = assetPath(u.display_pic) %>
          <img src="<%= dp %>" alt="" />
        </div>
        <div class="display_name"><%= u.user_name %></div>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="reaction-body" id="angry">
    <div class="reaction-count"><%= angry.users.length %></div>
    <div class="reaction-list">
      <% angry.users.forEach(u => { %>
      <div class="reaction-item">
        <div class="display_pic">
          <!-- <i class="fas fa-user-circle"></i> -->
          <% let dp = assetPath(u.display_pic) %>
          <img src="<%= dp %>" alt="" />
        </div>
        <div class="display_name"><%= u.user_name %></div>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="reaction-body" id="thumbs-up">
    <div class="reaction-count"><%= thumbs_up.users.length %></div>
    <div class="reaction-list">
      <% thumbs_up.users.forEach(u => { %>
      <div class="reaction-item">
        <div class="display_pic">
          <!-- <i class="fas fa-user-circle"></i> -->
          <% let dp = assetPath(u.display_pic) %>
          <img src="<%= dp %>" alt="" />
        </div>
        <div class="display_name"><%= u.user_name %></div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<script src="<%= assetPath('/js/reaction.js') %>"></script>
